.container{
    padding-left: 15%;
    padding-right: 2%;
  
}
.large-container{
    padding-left: 7%;
}
@media (max-width:900px) {
    .container,.large-container{
        padding-left: 5%;
        padding-right: 5%;
    }
}